/*About Us Page*/
.wrapper {
	background-color: #fefefe;
	margin: auto;

}

.about-container {
	display: flex;
}


.wrapper img{
	width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.wrapper .container .text {
    position: absolute;
    left: 5%;
    top: 120px;
    font-size: 70px;
    color: white;
	text-shadow: 2px;
}

.wrapper h1 {
    margin: 0;
}


.leftcolumn {
	margin-top: 50PX;
	width: 65%;
}

.leftcolumn img {
    width: 100%;
    min-height: 600px;

}

.wrapper .leftcontent {
	position: absolute;
    top: 55%;
    color: #f1f1f1;
    width: 25%;
    padding: 50px;
    word-spacing: 2px;
    line-height: 1.5;
    margin-left: 37%;
	min-width: 400px;
}

.wrapper .leftcontent p{
    font-size: 22px;
}

.rightcolumn {
	width: 35%;
	margin-top: 50PX;
	margin-bottom: 50px;
	min-height: 600PX;
	background-color: #342626;
}

.rightcolumn h1 {
    padding: 30px 0;
    text-align: center;
	color: #f1f1f1;
}


form {
	font-family: Verdana, Arial, sans-serif;
    padding: 0 60px 50px 0;
	display: inline-block;
}

form label {
	float: left;
	width: 150px;
	text-align: right;
	padding-right: 20px;
	margin-top: 10px;
	color: #f1f1f1;
}

input[type=text],
input[type=email] {
	width: 300px;
}

input[type=submit] {
	margin-left: 410px;
}

input, textarea {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 10px;
	display: block;
}

textarea {
	width: 382px;
	height: 200px;
	margin-left: 90px;
	max-width: 80%;
	min-width: 20%;
	min-height: 20%;
}







/*Account Page*/
#account_content>table {
	width: 1500px;
	margin-left: -100px;
}

#account_content>table tr td {
	padding: 10px;
	text-align: center;
}

/*Admin Console Page*/
#adminConsole_content>table {
	width: 1200px;
	margin: auto;
}

#adminConsole_content>input, textarea {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 10px;
	display: flex;
}


