/* Main - shared */
body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-width: 650px;
}

a {
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

/* Navigation */
.navbar {
    display: flex;
    background-color: gray;
    height: 50px;
    align-items: center;
}

.logo {
    width: 10%;
    align-items: center;
}

.logo>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 30px;
}

.nav-item {
    width: 90%;
    text-align: right;
}

.navbar ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
}

.navbar li {
    padding-left: 25px;
    padding-right: 25px;
}

.navbar a {
    color: white;
}

/* Footer */
footer {
    color: white;
    background-color: #333333;
    padding: 0px 20px;
    /* display: flex; */
}

.footer {
    display: flex;
    width: 100%;
    height: 300px;
}

.footer-info-item {
    padding: 50px 35px;
    width: 30%;
    position: relative;
    min-height: 1px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

footer a {
    color: white;
}

.copyright {
    color: gray;
    font-size: 12px;
}

/* Login & Signup*/
.bg-img {
    /* The image used */
    background-image: url("image/cafe1.jpg");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.left img {
	width: 200px;
	margin-top: 100px;
}


.form-wapper {
    padding: 145px;
}

.form-wapper .container {
    max-width: 400px;
    padding: 40px;
    background-color: white;
    margin: auto;
}

.form-wapper input[type=text],
.form-wapper input[type=email],
.form-wapper input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-wapper input[type=text]:focus,
.form-wapper input[type=email]:focus,
.form-wapper input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-wapper .btn {
    background-color: #603424;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.form-wapper .btn:hover {
    opacity: 1;
}

.sign-up-link {
    color: black;
    text-decoration: underline;
}

.signup.form-wapper .container {
    display: flex;
    max-width: 800px;
}

.signup .left {
    width: 300px;
    padding: 100px 30px;
}

.signup .left h1{
    font-size: xxx-large;
}

.signup .right {
    width: 400px;
    padding: 30px;
}

/* Home */
.banner {
    position: relative;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.banner .content {
    position: absolute;
    top: 20%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 30%;
    padding: 25px;
    margin-left: 5%;
    border-radius: 20px;
    min-height: 260px;
    min-width: 400px;
}

.banner .content h1 {
    font-size: xxx-large;
}

.banner .content p {
    color: darkgrey;
}

.topsales {
    text-align: center;
    padding: 50px 0px;
}

.popular {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    margin: auto;
    max-width: 1600px;
}

.gallery-inner {
    display: grid;
    grid-template-columns: repeat(3, auto);
    min-height: 100%;
    grid-gap: 20px;
}

.popular-item img:nth-child(1) {
    width: 100%;
    height: 100%;
    /* min-width: 300px;
    min-height: 300px; */
    object-fit: cover;
    display: block;
}

.popular-item {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    object-fit: cover;
    bottom: 0px;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
}

.popular-item:hover .overlay {
    opacity: 1;
    transform: scale(1.2);
}

/* Menu */
.menu-bar {
    background-color: #F2F2F2;
}

.menu-bar img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.menu-bar .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    width: 40%;
}

.menu-bar .container .text {
    position: absolute;
    right: 15%;
    top: 100px;
    font-size: 80px;
    color: white;
}

.menu-bar h1,
.menu-bar h2 {
    margin: 0;
}

.menu-filter {
    width: 100%;
    padding: 50px 100px 0 100px;
    background-color: #f2f2f2;
}

.menu-filter button{
    font-size: large;
    border: 1px solid #383838;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
}

.menu-filter button.active{
    background-color: #383838;
    color: white;
}

.menu-list {
    width: 100%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    background-color: #F2F2F2;
    padding: 50px 50px 120px 50px;
}

.menu-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}


.menu-item p {
    font-size: 15px;
    margin: 0;
    height: 50px;
}

.menu-item h2 {
    width: 210px;
}

.menu-item .price {
    color: grey;
    font-size: 22px;
    text-align: right;
    padding-bottom: 10px;
    height: 40px;
    position: absolute;
    margin: -45px 220;
}

.menu-item .description {
    height: 90px;
}

.menu-item button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.menu-item button.out-stock {
    background-color: #a7a7a7;
}

.menu-item button:hover {
    opacity: 0.7;
}

/* checkout */
.menu-bar.checkout img {
    max-height: 200px;
}

.checkout-container {
    display: flex;
    height: 1000px;
    margin: auto;
    justify-content: center;
}

.checkout-form {
    margin: 50px;
    min-width: 300px;
}

.checkout-form .form-row {
    display: flex;
}

.form-row div {
    width: 50%;
}

.checkout-form .form-row:first-child {
    padding-top: 50px;
}

.checkout-form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkout-form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkout-form .button {
    display: flex;
    width: 100%;
    padding: 10px 40px;
    justify-content: space-between;
}

.checkout-form input[type=submit]:hover {
    background-color: #45a049;
}

.checkout-form input[type=button] {
    background-color: dimgrey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkout-form input[type=button]:hover {
    background-color: #333;
}

.checkout-form div {
    background-color: #f2f2f2;
    padding: 0 20px;
}

.checkout-form .payment,
.checkout-form .form-header {
    padding: 5px 40px;
}

.checkout-form .payment i {
    color: #333;
}

.checkout-summary {
    position: sticky;
    top: 0;
    font-size: 20px;
    height: 50vh;
    overflow-y: auto;
    margin: 50px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 7px 0px grey;
}

.checkout-summary .header {
    height: 50px;
    background-color: #583c2c;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 500;
}

.checkout-summary .content {
    padding: 20px 10px;
}

.checkout-summary .content .item {
    display: flex;
    border-bottom: 1px solid gray;
    padding: 10px 20px;
}

.checkout-summary .content .item .product-image img {
    width: 60px;
}

.checkout-summary .content .item .product-detail {
    padding: 0px 5px;
    font-size: 14px;
    width: 160px;
}

.checkout-summary .content .item .product-detail .product-title {
    font-weight: bold;
}

.checkout-summary .content .item .product-price {
    padding-top: 15px;
    font-size: 15px;
}

.checkout-summary .content .item .product-subtotal,
.checkout-summary .content .sub .product-subtotal,
.checkout-summary .content .total .product-subtotal {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 2px 0px;
}

.checkout-summary .content .total {
    border-top: 1px solid gray;
    padding: 5px 0px;
}

.checkout-summary .content .total .product-subtotal div {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .checkout-container {
        display: block;
        height: 1100px;
        width: 600px;
        margin: auto;
    }

    .checkout-summary {
        position: relative;
        height: 500px;
    }

    .checkout-summary .content .item {
        width: 480px;
        justify-content: space-between;
        padding: 10px;
    }

    .checkout-summary .content .item .product-detail {
        width: 74%;
    }

}

/* confirmation */

.confirmation-title {
    text-align: center;
    padding: 50px 0;
}

.confirmation-title h1 {
    font-size: xxx-large;
}

.confirmation-title p {
    font-size: large;
    color: grey;
}

.confirm-container .info {
    font-size: 15px;
    padding: 20px;
}


.bar-broder {
    background-color: lightgray;
    width: 60%;
    margin: auto;
}

.bar-label {
    justify-content: space-between;
    padding-top: 10px;
    width: 60%;
    margin: auto;
    display: flex;
    font-size: large;
}

.bar-progress {
    background-color: gray;
}

.confirm-container {
    display: flex;
    height: 800px;
    justify-content: center;
    margin: auto;
}

.confirm-container .checkout-summary{
    position: relative;
    width: 400px;
    height: 70vh;
    box-shadow: none;
    overflow: auto;
}

.confirm-container .checkout-summary .header,
.confirm-container .shipping-summary .header {
    background-color: white;
    padding: 10px 15px;
    color: #333;
    font-weight: bold;
    font-size: x-large;
    text-align: left;
    height: 40px;
}

.confirm-container .checkout-summary .content .item .product-detail {
    max-width: none;
    width: 240px;
}

.confirm-container .sub {
    padding: 2px;
}

.confirm-container .shipping-summary{
    position: relative;
    width: 400px;
    max-height: 450px;
    margin: 50px;
}

